{% extends 'base.html.twig' %}

{% block title %}Add Picture{% endblock %}

{% block body %}
    <div class="container w-50 mt-5 p-3 rounded shadow">
        {{ form_start(imageForm) }}
            {{ form_row(imageForm.title) }}
            {{ form_row(imageForm.categories) }}
            {{ form_row(imageForm.path) }}
            <button type="submit" class="btn btn-primary bg-primary">Submit</button>
        {{ form_end(imageForm) }}
    </div>
{% endblock %}