<header class="p-4">
    <div class="flex justify-between items-center max-w-5xl mx-auto">
        {# LOGO + HOME LINK #}
        <a href="{{ path('app_home') }}">
            <img class="w-14 h-14 rounded-full" src="/images/logo.png" alt="" />
        </a>
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        {# MY PROFILE LINK + LOGOUT #}
        <div class="flex items-center gap-4">
            <a href="{{ path('app_add_picture') }}" class="flex items-center gap-2 text-sm font-medium">
                Upload 
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M3 16.5v2.25A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75V16.5m-13.5-9L12 3m0 0 4.5 4.5M12 3v13.5" />
                </svg>
            </a>
            <a class="flex items-center gap-2" href="{{ path('app_profile') }}">
                <img class="w-10 h-10 rounded-full" src="{{ app.user.getProfilePicture() }}" alt="" />
                <span class="text-sm font-medium">{{ app.user.getUsername() }}</span>
            </a>
            <a href="{{ path('app_logout') }}" class="text-sm font-medium">Logout</a>        
        </div>
        {% else %}
        {# LOGIN + REGISTER LINK #}
        <div class="flex gap-4">
            <a href="{{ path('app_login') }}" class="text-sm font-medium">Login</a>
            <a href="{{ path('app_register') }}" class="text-sm font-medium">Register</a>
        </div>
        {% endif %}
    </div>
</header>