<header class="p-4">
    <div class="flex justify-between items-center max-w-5xl mx-auto">
        {# LOGO + HOME LINK #}
        <a href="{{ path('app_home') }}">
            <img class="w-14 h-14 rounded-full" src="/images/logo.png" alt="" />
        </a>
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        {# MY PROFILE LINK + LOGOUT #}
        <div class="flex items-center gap-4">
            <a class="flex items-center gap-2" href="{{ path('app_profile') }}">
                <img class="w-10 h-10 rounded-full" src="{{ app.user.getProfilePicture() }}" alt="" />
                <span class="text-sm font-medium">{{ app.user.getUsername() }}</span>
            </a>
        <a href="{{ path('app_logout') }}" class="text-sm font-medium">Logout</a>        
        </div>
        {% else %}
        {# LOGIN + REGISTER LINK #}
        <div class="flex gap-4">
            <a href="{{ path('app_login') }}" class="text-sm font-medium">Login</a>
            <a href="{{ path('app_register') }}" class="text-sm font-medium">Register</a>
        </div>
        {% endif %}
    </div>
</header>